Platform/GameAndWatch/game-and-watch-base/build/*

Platform/GameAndWatch/game-and-watch-base/Drivers/*

Platform/GameAndWatch/game-and-watch-base/.mxproject

Platform/SDL2/build/*
!Platform/SDL2/build/.gitkeep

Platform/SDL2/libraries/*
!Platform/SDL2/libraries/.gitkeep

Platform/SDL2/objects/*
!Platform/SDL2/objects/.gitkeep

Releases/*
