platform/sdl2/build/*
!platform/sdl2/build/.gitkeep
!platform/sdl2/build/fonts/

platform/sdl2/libraries/SDL*
!platform/sdl2/libraries/.gitkeep

platform/sdl2/objects/*
!platform/sdl2/objects/.gitkeep

platform/sdl2/releases/*

platform/gameandwatch/build/*
!platform/gameandwatch/build/.gitkeep

platform/gameandwatch/objects/*
!platform/gameandwatch/objects/.gitkeep

platform/chip8stm32/build/*
!platform/chip8stm32/build/.gitkeep

platform/chip8stm32/objects/*
!platform/chip8stm32/objects/.gitkeep
