[submodule "platform/sdl2/libraries/imgui"]
	path = platform/sdl2/libraries/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "platform/gameandwatch/libraries/cmsis-core"]
	path = platform/gameandwatch/libraries/cmsis-core
	url = https://github.com/STMicroelectronics/cmsis-core
[submodule "platform/gameandwatch/libraries/cmsis-device-h7"]
	path = platform/gameandwatch/libraries/cmsis-device-h7
	url = https://github.com/STMicroelectronics/cmsis-device-h7
[submodule "platform/gameandwatch/libraries/stm32h7xx-hal-driver"]
	path = platform/gameandwatch/libraries/stm32h7xx-hal-driver
	url = https://github.com/STMicroelectronics/stm32h7xx-hal-driver
[submodule "platform/gameandwatch/libraries/game-and-watch-base"]
	path = platform/gameandwatch/libraries/game-and-watch-base
	url = https://github.com/ghidraninja/game-and-watch-base
[submodule "platform/chip8stm32/libraries/cmsis-core"]
	path = platform/chip8stm32/libraries/cmsis-core
	url = https://github.com/STMicroelectronics/cmsis-core.git
[submodule "platform/chip8stm32/libraries/cmsis-device-f1"]
	path = platform/chip8stm32/libraries/cmsis-device-f1
	url = https://github.com/STMicroelectronics/cmsis-device-f1.git
[submodule "platform/chip8stm32/libraries/stm32f1xx-hal-driver"]
	path = platform/chip8stm32/libraries/stm32f1xx-hal-driver
	url = https://github.com/STMicroelectronics/stm32f1xx-hal-driver.git
